<div class="outer">
    <div class="item">
        <span>Abstract</span>
        <ul>
            <li>Branches</li>
        </ul>
    </div>
    <div class="item">
        <span>Resources</span>
        <ul>
            <li>Blog</li>
            <li>Help Center</li>
            <li>Release Notes</li>
            <li>Status</li>
        </ul>
    </div>
    <div class="item">
        <span>Community</span>
        <ul>
            <li>Twitter</li>
            <li>Linkedin</li>
            <li>Facebook</li>
            <li>Dribble</li>
            <li>Podcasr</li>
        </ul>
    </div>
    <div class="item">
        <span>Company</span>
        <ul>
            <li>About Us</li>
            <li>Careers</li>
            <li>Legal</li>
            
        </ul>
        <ul>
            <li>Contact Us</li>
            <li>info@abstract.com</li>
        </ul>
    </div>
    <div class="item1">
        <span>Copyright 2022</span><br><br>
        <span >Abstract Studio Design,Inc.</span><br>
        <span>All rights reserved</span>
    </div>
</div>